@model List<DevFolioBireysel.Models.TblAdmin>


<nav id="sidebar">
    <div class="p-4 pt-5">
            @foreach (var item in Model)
            {
                <a href="/Dashboard/Index"><img src="@item.UserPhoto" style="height:150px;width:120px;" class="img logo rounded-circle mb-5" alt="@item.UserPhoto"></a>

            }
        <div class="dropdown-divider">

        </div>
        <ul class="list-unstyled components mb-5">
            <li>
                <a href="/Feature/UpdateFeature/1">Nitelik</a>
            </li>
            <li>
                <a href="/About/About/1">Hakkımda</a>
            </li>
            <li>
                <a href="/Profile/Index/1">İletişim Bilgileri</a>
            </li>
            <li>
                <a href="/Statistic/Index">İstatistikler</a>
            </li>
            <li>
                <a href="/Skill/Skill">Yetenekler</a>
            </li>
            <li>
                <a href="/Service/Service/">Hizmetler</a>
            </li>
            <li>
                <a href="/Experience/Experience/">Tecrübeler</a>
            </li>
            <li>
                <a href="/Project/Project/">Projeler</a>
            </li>
            <li>
                <a href="/Testimonial/Testimonial/">Referanslar</a>
            </li>
            <li>
                <a href="/Contact/Index">Gelen Mesajlar</a>
            </li>
            <li>
                <a href="#">Ayarlar</a>
            </li>
            <li>
                <a href="#">Çıkış Yap</a>
            </li>
        </ul>
        <div class="footer">
            <p>
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır
            </p>
        </div>

    </div>
</nav>
